# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful sciki-learn library 

what we're going to cover :
 0. An end-end scikit workflow 
 1. Getting the data ready 
 2. Choose the right estimator/algorithm for our problems 
 3. fit the model/algorithm and use it to make predictions on our data 
 4. Evaluaitng a model 
 5. improve a model 
 6. save and load a trained model 
 7. putting it all together

 ## 0. An end-to-end scikit-learn workflow

In [20]:
# lets start with data lets do with that heart-disease data

In [21]:
# 1. Get the data ready 
import pandas as pd 
heart_disease = pd.read_csv("heart_disease_sample (1).csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,0
5,44,1,2,140,235,0,0,180,0,0.4,1,0,3,1
6,52,1,0,128,204,0,1,156,1,1.0,1,2,3,0
7,57,1,1,110,201,0,1,160,0,1.5,1,1,2,1
8,54,0,1,140,239,0,1,155,1,1.2,1,1,2,0
9,48,1,2,124,255,0,0,173,0,0.0,2,0,2,1

In [22]:
# we build a model to predict the target(0 or 1)

In [23]:
# Create X (features matrix)
X = hear_disease.drop("target",axis=1)
X

# Create Y (labels)
Y = heart_disease["target"]
Y

NameError: name 'hear_disease' is not defined

In [ ]:
# 2. Choose the right model and hyperparameters
# in this case it is a classification problem as we have to predict whether a heart disease or not 
# hyperparameters are like dials on a model that you can tune to make it better or worse

In [ ]:
# lets use random forest it is a classification model 
# it is capable of learning patterns and data and then classifying 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)    # model

# we'll keep the default hyperparameters 
clf.get_params()

In [ ]:
# so we are done choosing the model

In [ ]:
# 3. Fit the model to the training data
# we need to train our model on training set and test our model on test set 

from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
# here test size is 0.2 so 20% test split and 80% train split

In [ ]:
clf.fit(X_train,Y_train);

In [ ]:
X_train

In [ ]:
Y_train

In [ ]:
X_test

In [ ]:
# these are actual y labels of test data
Y_test

In [ ]:
# make a prediction- lets test the testing data
import numpy as np
Y_label= clf.predict(X_test)

In [ ]:
# this is predicted y labels of test data
Y_label

In [ ]:
# 4. Evaluate the model on the training data and test data
# returns the mean accuracy on teh given data adn labels
clf.score(X_train,Y_train)

In [ ]:
clf.score(X_test,Y_test)

In [ ]:
# so the training data got more score because it is trained well on the features 100%
# whereas the test data got only one correct and one wrong so 50% so 0.5

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test,Y_label))

In [ ]:
confusion_matrix(Y_test,Y_label)

In [ ]:
accuracy_score(Y_test,Y_label)

Random forest is many decision trees voting together 
n_estimators = number of trees in the forest

â€œIf I use 10 trees vs 20 trees vs 30 trees â€¦ 90 trees, how does accuracy change?â€
Thatâ€™s called hyperparameter tuning.

np.random.seed(43)
Random Forest uses randomness,Without this, accuracy may change every run

so below we are training model with i deciion drees 
every loop = new model

then testing on unseen test data
score-> correct_predictions/total_predictions *100 {...2f}%    # this gives you percentage

Accuracy improves as trees increaseâ€¦
ðŸ‘‰ Then it may plateau or even drop.

Too few trees â†’ underfitting
Too many trees â†’ slow, little gain
Goal â†’ find sweet spot

This is manual hyperparameter tuning.

In [ ]:
# 5. Improve a model 
# Try different amount of n_estimators
# so lets try to figure out if we can improve our model by adjusting one of the hyper parameters

np.random.seed(43)
for i in range(10,100,10):
    print(f"Trying model with {i} estimate...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test)* 100:2f}%")
    print("")

In [ ]:
# 6. save a model and load it 
import pickle

pickle.dump(clf,open("random_forest_model_1.pk1", "wb"))

In [ ]:
loaded_model = pickle.load(open("random_forest_model_1.pk1", "rb"))
loaded_model.score(X_test,Y_test)

# Overview 

Load and clean the data
Select features (X) and target (y)
Choose a suitable model
Split the data into training and test sets
Train the model using training data
Evaluate the model on training and test data
Improve the model by tuning hyperparameters
Train the final model
Save the model using pickle

1. Load & prepare the data 
 Load the dataset
Clean it (missing values, encoding, scaling if needed)
Select features (X) and target (y)

2. Choose the model
Select an algorithm (e.g. RandomForestClassifier)
This is just a starting model, not final

3. Split the data
X_train, X_test, y_train, y_test
Split happens before training
Test data must stay untouched

4. Fit (train) the model on training data
model.fit(X_train, y_train)
The model learns patterns here.

5. Evaluate the model
Evaluate on training data â†’ check overfitting
Evaluate on test data â†’ check generalization
model.score(X_train, y_train)
model.score(X_test, y_test)

6. Improve (tune) the model
Adjust hyperparameters (n_estimators, max_depth, etc.)
Retrain the model
Re-evaluate

7. Train the final model
Use the best hyperparameters
Fit again on training data

8. Save the model
import pickle
pickle.dump(model, open("model.pkl", "wb"))
This is done after finalizing the model

## Debugging warnings in jupyter

In [ ]:
# this will not give warning in any cell running
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
# if you wnat back the warnings you can use "default" instead of ignore

In [ ]:
# to check the scikit-learn version 
import sklearn
sklearn.show_versions()

In [ ]:
# how to upgrade the sklearn version within conda environment
# in the terminal 
# updating the packages , it should be done on terminal
conda update scikit-learn

# if you want to check 
conda list scikit-learn

# for searching specifieed packages versions 
conda search scikit-learn --info

# for python verison
conda list python 

# how to install some packages of scikit learn to install more updated versions
conda uninstall scikit-learn python 

# now install again if you want specific verisons 
conda isntall python = 3.6.9 scikit-learn=1.8.0

In [ ]:
# so for warnigns you cna deal in two ways 
# 1. import that warning and filter those warnings 
# 2. install those updated packages that supports

## 1.Getting your data ready: Splitting your data

Three main things we have to do:
  1. split the data into features and labels (usually 'X' and 'Y')
  2. Filling (also called imputing) or disregarding missing values
  3. converting non-numerical values to numerical values (also called feature encoding)

In [ ]:
# standard imports 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline    
#so plots will be in our notebook

In [ ]:
# suppose you have some data like colours red,blue,green but actually 
# the machine cannot understand those non-numerical values you have to convert them into numerical values

In [ ]:
hear_disease = pd.read_csv("heart_disease_sample (1).csv")

In [ ]:
X = heart_disease.drop("target",axis=1) # axis0-rows, axis1-columns
X

In [ ]:
Y = hear_disease["target"]
Y

In [ ]:
# splitting data into training and test data
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

In [ ]:
len(heart_disease)

In [ ]:
# as training set is 80%
X.shape, X.shape[0] * 0.8

## Clean, Transform and Reduce data

In [ ]:
# clean data -> Transform data -> Reduce data

In [ ]:
# you remove some missing field rows, outliers before actually training the model

In [ ]:
# so after this cleaning we transform data to binary so computer cna understand

In [ ]:
# after transforming we reduce data because the more data, the more cpu, the more energy , 
# we try to get the same results with less data this data reduction is called dimensionality reduction or column reduction

## Convert data to numbers

In [ ]:
car_sales = pd.read_csv("car-sales.csv")
car_sales,len(car_sales)

In [ ]:
car_sales["Price"] = car_sales["Price"].str.replace('[\$\,\.]','',regex=True)

In [ ]:
car_sales["Price"]= car_sales["Price"].str[:-2]
car_sales

In [ ]:
# feature matrix - split into X ,Y , so we wnat to guess price from the model
X = car_sales.drop("Price",axis=1)
Y = car_sales["Price"]
X,Y

In [ ]:
# split into training and test data 
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [ ]:
# build a machine learning model 
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators = 90)
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

Machine learning models work with numbers, not text.
So we must convert categorical (text) data into numbers â†’ this is called encoding.

OneHotEncoder converts categories into binary columns (0s and 1s).
Why â€œone-hotâ€?
Because only ONE column is â€œhotâ€ (1) for each row, the rest are 0.

ColumnTransformer lets you apply different transformations to different columns.
Apply OneHotEncoder â†’ to categorical columns
Keep the rest of the columns â†’ unchanged (passthrough)

OneHotEncoder â†’ converts text categories into 0/1 columns
ColumnTransformer â†’ tells which columns should be encoded and which should stay the same

In [ ]:
# because those words are not understood by computer so we have to convert them into numbers
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()

# so actually this transformer takes the categorical_features apply oneHotencoder on them and leaves the remaining passthrough which are not categorical_features
transformer = ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
pd.DataFrame(transformed_X)

In [ ]:
dummies = pd.get_dummies(car_sales[["Make","Colour","Doors"]])
dummies

In [ ]:
# lets refit the model 
np.random.seed(42)
X_train, X_test,Y_train,Y_test = train_test_split(transformed_X,Y,test_size=0.2)

model.fit(X_train,Y_train)

In [ ]:
model.score(X_test,Y_test)

In [ ]:
model.predict(X_test)

In [ ]:
# before converting into numbers it was failed to train now we converted into numerical and it worked fine 
# so now what to do with missing values

## Handling missing values with pandas

1. Fill them with some value (also known as imputation)
2. Remove the sample with missing data altogether

so actually both are tricky because if we will fill with some data then the data is nto accurate , 
if we remove then we might work with less data

In [ ]:
# import car sales missing data
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")
car_sales_missing

In [ ]:
# isna -> fill missing with NaN and sum() indicates number if those in each column
car_sales_missing.isna().sum()

In [ ]:
car_sales_missing["Price"] = car_sales_missing["Price"].str.replace('[\$\,\.]','',regex=True)
car_sales_missing

In [ ]:
# create X and Y 
X = car_sales_missing.drop("Price",axis=1)
Y = car_sales_missing["Price"]
X,Y

In [ ]:
# lets try and convert our data to numbers 
# because those words are not understood by computer so we have to convert them into numbers
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()

# so actually this transformer takes the categorical_features apply oneHotencoder on them and leaves the remaining passthrough which are not categorical_features
transformer = ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
# before tranforming we might get error -> input contains NaN

### Option 1: Fill missing data with pandas

In [ ]:
car_sales_missing

In [ ]:
# Fill the "Make" column
car_sales_missing["Make"].fillna("missing",inplace=True)

# Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing",inplace=True)

# Fill the "Odometer" column
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(),inplace=True)

# Fill the "Doors" column
car_sales_missing["Doors"].fillna(4,inplace=True)

car_sales_missing

In [ ]:
# check our dataframe again
car_sales_missing.isna().sum()

In [ ]:
# Remove rows with missing price value 
car_sales_missing.dropna(inplace=True)

car_sales_missing.isna().sum()

In [ ]:
len(car_sales_missing)

In [ ]:
# create X and Y 
X = car_sales_missing.drop("Price",axis=1)
Y = car_sales_missing["Price"]
X,Y

In [ ]:
# lets try and convert our data to numbers 
# because those words are not understood by computer so we have to convert them into numbers
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()

# so actually this transformer takes the categorical_features apply oneHotencoder on them and leaves the remaining passthrough which are not categorical_features
transformer = ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
## so we used pandas to fill and remove

### Option 2: Fill missing values with Scikit-Learn

In [ ]:
# reinitiate
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")
car_sales_missing

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# dropna() - removes rowws(or columns) that contain missing values (NaN)
# if price is missing -> drop that entire row
# isna() creates a True/false table 
# sum() true - 1 , false -0 add them column wise

In [ ]:
car_sales_missing["Price"] = car_sales_missing["Price"].str.replace('[\$\,\.]','',regex=True)

In [ ]:
# drop the rows with no labels
car_sales_missing.dropna(subset=["Price"],inplace=True)
car_sales_missing.isna().sum()

In [ ]:
# split into X and Y 
X = car_sales_missing.drop("Price",axis=1)
Y = car_sales_missing["Price"]
X,Y

In [ ]:
# filling missing values with scikit-learn 
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

X["Odometer"] = pd.to_numeric(X["Odometer"], errors="coerce")

# fill categorical values with 'missing' and numerical values with mean
cat_imputer = SimpleImputer(strategy="constant",fill_value="missing")
door_imputer = SimpleImputer(strategy="constant",fill_value=4)
numerical_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features=["Make","Colour"]
door_features=["Doors"]
num_features=["Odometer"]

# create an imputer (somethign that fills missing data)
imputer = ColumnTransformer([
               ("cat_imputer", cat_imputer,cat_features),
               ("door_imputer",door_imputer,door_features),
               ("numerical_imputer",numerical_imputer,num_features)
           ])

# Transform the data
filled_X = imputer.fit_transform(X)
filled_X

In [24]:
car_sales_filled = pd.DataFrame(filled_X,columns=["Make","Colour","Doors","Odometer"])
car_sales_filled

NameError: name 'filled_X' is not defined

In [ ]:
car_sales_filled.isna().sum()

In [ ]:
# because those words are not understood by computer so we have to convert them into numbers
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()

# so actually this transformer takes the categorical_features apply oneHotencoder on them and leaves the remaining passthrough which are not categorical_features
transformer = ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

In [ ]:
# now we got oru data as numbers and filled ( no missing daat)
# lets fit a model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(transformed_X,Y,test_size=0.2)
model = RandomForestRegressor(n_estimators=100)

model.fit(X_train,Y_train)
model.score(X_test,Y_test)

In [ ]:
Y

In [ ]:
len(car_sales_filled),len(car_sales),len

In [ ]:
# process of filling missing values is called imputation
# process of turning non-numerical values into numerical values is called feature engineering or feature and coding

In [ ]:
# so until now the getting the data ready is done

In [ ]:
# now choosing the model before we took randomforestregressor how to choose that model

## 2. Choosing the right Estimator/algorithm for the problem

somethings to note :

* Sklearn refers to machine learning models,algorithms as estimators
* within these estimators we have classifiers - Classification model and regressors- Regression model
* Classification problem - predicting a category (heart disease or not)
     *  sometimes you'll see 'clf' (short for calssifier) used as a classification estimator)
* Regression problem = predicting a number (selling price of a car)

 For choosing the model to use : https://scikit-learn.org/stable/machine_learning_map.html

In [ ]:
## lets start with a regression problem 
## 2.1 picking a machine learning model for a regression problem
# ex: california housing dataset: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#sklearn.datasets.fetch_california_housing

as_frame=True tells sklearn to return the dataset as a pandas DataFrame instead of NumPy arrays.

housing.data â†’ pandas DataFrame
housing.target â†’ pandas Series
housing.frame â†’ full DataFrame (features + target)

In [37]:
# get california housing dataset 
from sklearn.datasets import fetch_california_housing

# Load dataset
housing = fetch_california_housing(as_frame=True)

# Show keys
print(housing.keys())

# Show first 5 rows of the dataset
housing.frame.head()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [38]:
housing.frame

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [39]:
housing_df = pd.DataFrame(housing["data"], columns = housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [53]:
housing_df["MedHouseVal"]= housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [54]:


# setup random seed 
np.random.seed(42)
from sklearn.model_selection import train_test_split

#create the data
X = housing_df.drop("MedHouseVal", axis = 1)
Y = housing_df["MedHouseVal"]       # median house price in $100,000s

# split into train and test sets
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
X,Y

(       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
 0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
 1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
 2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
 3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
 4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
 ...       ...       ...       ...        ...         ...       ...       ...
 20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
 20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
 20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
 20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
 20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

        Longitude
 0        -122.23
 1        -122.22
 2        -122.24
 3        -122.25
 4        -122.25
 ...          ...
 20635    -121.09
 20636    -121.21
 20637    -121.22
 20638    -121.32
 20639    -121.24

 [20640 rows x 8 columns],
 0        4.526
 1        3.585
 2        3.521
 3        3.413
 4        3.422
          ...
 20635    0.781
 20636    0.771
 20637    0.923
 20638    0.847
 20639    0.894
 Name: MedHouseVal, Length: 20640, dtype: float64)

In [42]:
# choosing which model to use 
# this is regression problem so go in that path from teh sklearn cheat sheet 
# here data is ready -> we are not predicting a category -> we are predicting quantity 
# next few features should be important we dont know about this so we will try both models 
# actually advantage of machine learning is we can try different models and check for the model 
# so here we can try both Lasso and Ridge regression

In [ ]:
# lets try Ridge verison first
# import algorithm/estimator 
from sklearn.linear_model import Ridge

# initiate and fit the model (on training set)
model = Ridge()

# training 
model.fit(X_train,Y_train)

# testing
model.score(X_test,Y_test)

In [43]:
# lets try Lasso verison 
# import algorithm/estimator 
from sklearn.linear_model import Lasso

# initiate and fit the model (on training set)
model = Lasso()

# training 
model.fit(X_train,Y_train)

# testing
model.score(X_test,Y_test)

0.2841671821008396

# actually to improve the model
1. use more data
2. try another model

Ensemble methods : the goal is to combine the predictions of several base estimators 
built with learning algorithm in order to improve generalizability robustness over a single estimator

generalizability is the ability for a machine learning model to predict accurately on unseen data

# Random Forest is combination of lots of different decision trees 
we can use Random Forest algo for both classification and regression

In [44]:
# lets try ensemble model (ensemble is combination of smaller models rather than just a single model)
# import the RandomForestRegressor model class from the ensemble module

from sklearn.ensemble import RandomForestRegressor

# setup random seed
np.random.seed(42)

model = RandomForestRegressor(n_estimators=100)

# fitting the training data
model.fit(X_train,Y_train)

# scoring
model.score(X_test,Y_test)

0.8051230593157366

## 2.2 Choosing an estimator for a classification problem

In [45]:
from sklearn.datasets import load_digits

digits = load_digits()

print(digits.keys())
print(digits.data.shape)
print(digits.target.shape)

dict_keys(['data', 'target', 'frame', 'feature_names', 'target_names', 'images', 'DESCR'])
(1797, 64)
(1797,)

In [46]:
digits_df = pd.DataFrame(digits["data"], columns = digits["feature_names"])
digits_df

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [47]:
digits_df["Target"] = digits["target"]
digits_df

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,Target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [48]:
# splitting the data 
from sklearn.model_selection import train_test_split

x = digits_df.drop("Target",axis=1)
y = digits_df["Target"]

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
x,y

(      pixel_0_0  pixel_0_1  pixel_0_2  pixel_0_3  pixel_0_4  pixel_0_5  \
 0           0.0        0.0        5.0       13.0        9.0        1.0
 1           0.0        0.0        0.0       12.0       13.0        5.0
 2           0.0        0.0        0.0        4.0       15.0       12.0
 3           0.0        0.0        7.0       15.0       13.0        1.0
 4           0.0        0.0        0.0        1.0       11.0        0.0
 ...         ...        ...        ...        ...        ...        ...
 1792        0.0        0.0        4.0       10.0       13.0        6.0
 1793        0.0        0.0        6.0       16.0       13.0       11.0
 1794        0.0        0.0        1.0       11.0       15.0        1.0
 1795        0.0        0.0        2.0       10.0        7.0        0.0
 1796        0.0        0.0       10.0       14.0        8.0        1.0

       pixel_0_6  pixel_0_7  pixel_1_0  pixel_1_1  ...  pixel_6_6  pixel_6_7  \
 0           0.0        0.0        0.0        0.0  ...        0.0        0.0
 1           0.0        0.0        0.0        0.0  ...        0.0        0.0
 2           0.0        0.0        0.0        0.0  ...        5.0        0.0
 3           0.0        0.0        0.0        8.0  ...        9.0        0.0
 4           0.0        0.0        0.0        0.0  ...        0.0        0.0
 ...         ...        ...        ...        ...  ...        ...        ...
 1792        0.0        0.0        0.0        1.0  ...        4.0        0.0
 1793        1.0        0.0        0.0        0.0  ...        1.0        0.0
 1794        0.0        0.0        0.0        0.0  ...        0.0        0.0
 1795        0.0        0.0        0.0        0.0  ...        2.0        0.0
 1796        0.0        0.0        0.0        2.0  ...        8.0        0.0

       pixel_7_0  pixel_7_1  pixel_7_2  pixel_7_3  pixel_7_4  pixel_7_5  \
 0           0.0        0.0        6.0       13.0       10.0        0.0
 1           0.0        0.0        0.0       11.0       16.0       10.0
 2           0.0        0.0        0.0        3.0       11.0       16.0
 3           0.0        0.0        7.0       13.0       13.0        9.0
 4           0.0        0.0        0.0        2.0       16.0        4.0
 ...         ...        ...        ...        ...        ...        ...
 1792        0.0        0.0        2.0       14.0       15.0        9.0
 1793        0.0        0.0        6.0       16.0       14.0        6.0
 1794        0.0        0.0        2.0        9.0       13.0        6.0
 1795        0.0        0.0        5.0       12.0       16.0       12.0
 1796        0.0        1.0        8.0       12.0       14.0       12.0

       pixel_7_6  pixel_7_7
 0           0.0        0.0
 1           0.0        0.0
 2           9.0        0.0
 3           0.0        0.0
 4           0.0        0.0
 ...         ...        ...
 1792        0.0        0.0
 1793        0.0        0.0
 1794        0.0        0.0
 1795        0.0        0.0
 1796        1.0        0.0

 [1797 rows x 64 columns],
 0       0
 1       1
 2       2
 3       3
 4       4
        ..
 1792    9
 1793    0
 1794    8
 1795    9
 1796    8
 Name: Target, Length: 1797, dtype: int64)

# so now we want classifiers to classify
1. Linear classifiers 
2. Non-linear classifiers

# 1. Linear Classifiers
Decision boundary = straight line / plane / hyperplane

linear seperability,fast,simple,low overfitting

models :
Linear SVC
SGD Classifier

# 2. Non-linear Classifiers
Decision boundary = curved / complex shape

capture complex patterns,higher accuracy,more computation, higher overfitting risk

models :
KNN
SVC(RBF kernel)
RBFSampler + SGD(approximate)

In [49]:
Start simple â†’ increase complexity only if needed
Linear classifiers test separability; non-linear classifiers capture complexity

SyntaxError: invalid character 'â†’' (U+2192) (1510014356.py, line 1)

| Step | Question                    | Model                |
| ---- | --------------------------- | -------------------- |
| 1    | Can a line separate data?   | LinearSVC            |
| 2    | Need faster linear model?   | SGD                  |
| 3    | Local similarity important? | KNN                  |
| 4    | Need smooth curves?         | RBF-SVM              |
| 5    | RBF too slow?               | Kernel Approximation |

In [ ]:
# before learning these linear and non- linear models

In [ ]:
# select suitable model
# if you go through that map you can understand lets start with Linear Svc first

from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

clf = make_pipeline(StandardScaler(),
                    LinearSVC(random_state=0, tol=1e-5))
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

instead of above pipeline and scaler you can directly use the model 
clf = LinearSVC(ma_iter=10000)

In [ ]:
# lets try another classifier
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Always scale the input. The most convenient way is to use a pipeline.
clf = make_pipeline(StandardScaler(),
                    SGDClassifier(max_iter=1000, tol=1e-3))
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

In [ ]:
# lets use KNeighbors classifier

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_train, y_train)
neigh.score(x_test,y_test)

In [ ]:
# lets try SVC(ensemble classifiers)
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

In [ ]:
# lets use kernel approximation
from sklearn.kernel_approximation import RBFSampler
from sklearn.linear_model import SGDClassifier

rbf_feature = RBFSampler(gamma=1, random_state=1)
X_features = rbf_feature.fit_transform(X)
clf = SGDClassifier(max_iter=5)
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

# 1. if you have structured data, use ensemble methods
   Examples: tables, CSVs, features like age, salary, clicks, counts
   Best bets: Random Forest, XGBoost, LightGBM, CatBoost
  why they shine 
     Handle missing values and mixed feature types well
     Strong temporal or relational structure (time series, graphs)

# 2. if you have unstructured data, use deep learning or transfer learning 
    Unstructured data â†’ Deep learning / Transfer learning
    Examples: text, images, audio, video
    Text: BERT, RoBERTa, GPT-style models
    Images: ResNet, EfficientNet, ViT
    Audio: Wav2Vec, Whisper

  why they work 
    automatically learns representations 
    Transfer learning gives great results even with small datasets

| Data type   | Start with            | Upgrade to                   |
| ----------- | --------------------- | ---------------------------- |
| Tabular     | XGBoost / CatBoost    | Neural nets (only if needed) |
| Text        | TF-IDF + Logistic Reg | BERT / LLM fine-tuning       |
| Images      | CNN from scratch      | Pretrained CNN / ViT         |
| Small data  | Classical ML          | Transfer learning            |
| Low compute | Ensembles             | DL only if necessary         |

# 3. Fit the model/algorithm on our data and use it to make predictions

### 31. fitting the model
* x = features, features variables , data
* y = labels, targets, target variables

In [ ]:
import pandas as pd
heart_disease = pd.read_csv("heart_disease_sample (1).csv")
heart_disease

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np 

# setup random seed
np.random.seed(42)

# make the data
X = heart_disease.drop("target",axis=1)
Y = heart_disease["target"]

# split the data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

# instantiate the classifier 
model = RandomForestClassifier(n_estimators=100)

# Fit the model to the data (training the machine learning model)
model.fit(X_train,Y_train)

# Evaluate the Random forest classifier (use the patterns the model has learned)
model.score(X_test,Y_test)

In [ ]:
# compare predictions to truth labels to evaluate the model
Y_predicted = model.predict(X_test)
np.mean(Y_predicted == Y_test)

In [ ]:
model.score(X_test,Y_test)

In [ ]:
# accuracy classification score
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_predicted)

In [ ]:
# Make predictions with predict_proba()
# it returns probabilities of a classification label
# probability estimates - the returned estimates for all classes are ordered by the label of classes
model.predict_proba(X_test)

In [ ]:
model.predict(X_test)

In [ ]:
# so for that predict_proba it is returning the probability of the feature 
# there for the first row for 1 - 0.58 (it means - 1)

In [ ]:
# so when we are confident about the model then use predict()

In [56]:
# we can use that predict() for regression models as well 
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [57]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)

# create the data
x = housing_df
y = housing["target"]

# split into training and test sets
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)

# create model instance
model = RandomForestRegressor(n_estimators=100)

# fit the model to the data
model.fit(x_train, y_train)

# make predictions 
y_preds = model.predict(x_test)

# find the score 
model.score(x_test,y_test)

0.999999302094669

In [55]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [58]:
# compare predictions to the truth
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_preds)

0.00019074459786971705